[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncio = "*"
typing = ">=3.7.4"
aiohttp = {extras = ["speedups"], version = ">=3.6"}
python-dotenv = ">=0.15.0"

[dev-packages]

[requires]
python_version = "3.7"
