PyYAML
pymdown-extensions
Pygments
mkdocs
mike
markdown
mkdocs-material<8.1.4
mkdocs-material-extensions
mkdocs-redirects
mkdocs-htmlproofer-plugin
mkdocs-git-revision-date-plugin
requests
mkdocstrings>=0.15.2