name: Pytest & Coverage

on:
  push:
    branches-ignore:
      - '**-coverage-report'
  pull_request:

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [ 3.7, 3.8, 3.9 ]

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install flake8 pytest
          pip install -r requirements.txt
      - name: Lint with flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
      - name: pytest
        run: |
          python -m pip install --upgrade -e .
          cd ./pytest
          pytest -q --token=${{ secrets.HIVEN_TOKEN }}

  coverage-badge:
    needs: build
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [ 3.9 ]
    if: github.event_name != 'pull_request'

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade coverage
          python -m pip install --upgrade coverage-badge
          python -m pip install --upgrade pip
          python -m pip install flake8 pytest
          pip install -r requirements.txt
      - name: Lint with flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
      - name: pytest with coverage
        run: |
          python -m pip install --upgrade -e .
          cd ./pytest/
          coverage run -m pytest -q --token=${{ secrets.HIVEN_TOKEN }} ;
          if [ -f ../coverage.svg ]; then rm ./coverage.svg; fi
          coverage-badge -o ./coverage.svg
          cd ..
      - name: Sleep for 15 seconds
        uses: kibertoad/wait-action@master
        with:
          time: '15s'
      - uses: EndBug/add-and-commit@v7
        with:
          message: 'Updated coverage.svg'
          add: 'coverage.svg'
          default_author: github_actions

  coverage-html:
    needs: coverage-badge
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [ 3.9 ]
    if: github.event_name != 'pull_request'

    env:
      ACTIONS_ALLOW_UNSECURE_COMMANDS: true # Required for fetching the branch name

    steps:
      - uses: actions/checkout@v2
      - uses: nelonoel/branch-name@v1
      - name: Fetch origin
        run: |
          git fetch origin
      - name: Check for Branch existance
        id: branch_existance
        run: |
          echo "::set-output name=branch_hash::$(git show-ref ${{ env.BRANCH_NAME }}-coverage-report)"
      - name: Deletes previous coverage-branch if it exists
        run: |
          echo ${{ steps.branch_existance.outputs.branch_hash }}
          if ${{ steps.branch_existance.outputs.branch_hash != '' }}; then
            git fetch origin
            git push origin --delete ${{ env.BRANCH_NAME }}-coverage-report; fi
      - name: Create new branch for coverage
        uses: peterjgrainger/action-create-branch@v2.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          branch: ${{ env.BRANCH_NAME }}-coverage-report
      - uses: EndBug/add-and-commit@v7
        with:
          message: 'Updated repo'
          add: '.'
          branch: ${{ env.BRANCH_NAME }}-coverage-report
          push: '--force -u origin ${{ env.BRANCH_NAME }}-coverage-report'
          default_author: github_actions
      - uses: actions/checkout@v2
        with:
          ref: ${{ env.BRANCH_NAME }}-coverage-report
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade coverage
          python -m pip install --upgrade pip
          python -m pip install flake8 pytest
          pip install -r requirements.txt
      - name: Lint with flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
      - name: pytest with coverage
        run: |
          python -m pip install --upgrade -e .
          cd ./pytest/
          coverage run -m pytest -q --token=${{ secrets.HIVEN_TOKEN }} ;
          cd ../..
      - name: coverage-html
        run: |
          python -m pip install --upgrade -e .
          cd ./pytest/ ; coverage html ; cd ../..
          mv ./pytest/htmlcov/ /tmp/htmlcov/
          rm -rf *
          mv /tmp/htmlcov/* .
          git branch --set-upstream-to=origin/${{ env.BRANCH_NAME }}-coverage-report ${{ env.BRANCH_NAME }}-coverage-report
      - name: Sleep for 15 seconds
        uses: kibertoad/wait-action@master
        with:
          time: '30s'
      - uses: EndBug/add-and-commit@v7
        with:
          message: 'Added coverage report'
          add: '.'
          branch: ${{ env.BRANCH_NAME }}-coverage-report
          push: '--force -u origin ${{ env.BRANCH_NAME }}-coverage-report --set-upstream'
          default_author: github_actions
