name: Pytest Win

on:
  push:
    branches-ignore:
      - '**-coverage-report'
  pull_request:

jobs:
  build:

    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [ 3.7, 3.8, 3.9 ]

    steps:
      - name: Add mask
        run: |
          echo "::add-mask::${{ secrets.HIVEN_TOKEN }}"
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: pytest
        run: |
          python -m pip install --upgrade -e .
          cd ./pytest
          pytest -q --token=${{ secrets.HIVEN_TOKEN }}
